<form action="{{ action }}" method="post" class="iForm" id="iForm" enctype="multipart/form-data;charset=UTF-8" >
  <textarea id="inputtext" name="inputtext" rows="20" cols="150"></textarea>
  <br/>
  <input type="submit" value="submit" />
  <input type="button" onclick="clearInputTextArea()" value="Clear text input area"/>
  <table> 
    <tr>
      <td><label for="docformat">Input format</label></td>
      <td>
	<select name="docformat">
	  <option selected>freetext</option>
	  {% for df in dflist %}<option>{{ df }}</option>
	  {% endfor %}
	</select>
      </td>
    </tr>
    <tr>
      <td><label for="rformat">Result format</label></td>
      <td>
	<select name="resultformat">
	  <option>html</option>
	  {% for rf in rflist %}<option>{{ rf }}</option>
	  {% endfor %}
	</select>
      </td>
    </tr>
    <tr>
      <td><label for="srcstring">Sources</label></td> 
      <td><input name="sourcesString" type="text" id="srcstring" size=60/>
	(vocabulary sources, separated by commas.)</td>
      <!-- td>
	{% for src in sourcelist %}
	<input type=checkbox name="sourcesString" value="{{ src }}">{{ src }}
	{% endfor %}
      </td -->
    </tr>
    <tr>
      <td><label for="ststring">Semantic Types</label></td>
      <!-- td><input name="semanticTypeString" type="text" id="ststring"/></td -->
      <td>
	{% for semtype in semtypelist %}
	<input type="checkbox"
	       name="semanticTypeString"
	       value="{{ semtype.abbrev }}"
	       alt="{{ semtype.name }}"/>
	<div class="tooltip">{{ semtype.abbrev }}
	  <span class="tooltiptext">{{ semtype.name }}</span>
	</div>
	{% if loop.index is divisibleby 12 %}<br/>
	{% endif %}
	{% endfor %}
      </td>
    <tr>
       <td><label>Semantic Groups</label></td>
       <td><input type="button" onclick="selectDisorders()"/ value="Disorders"/>
       <input type="button" onclick="selectDisordersAbbrev()"/ value="Abbreviated Disorders"/>
       <input type="button" onclick="selectActivities()"/ value="Activities"/>
       <input type="button" onclick="selectAnatomy()"/ value="Anatomy"/></td>
    </tr>
    <tr><td></td>
      <td><input type="button" onclick="selectChemicalsAndDrugs()"/ value="Chemicals and Drugs"/>
       <input type="button" onclick="selectConceptsAndIdeas()"/ value="Concepts and Ideas"/>
       <input type="button" onclick="selectGenesAndMolecularSequences()"/ value="Genes and Molecular Sequences"/>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
      <input type="button" onclick="selectGeographicAreas()"/ value="Geographic Areas"/>
      <input type="button" onclick="selectLivingBeings()"/ value="Living Beings"/>
      <input type="button" onclick="selectObjects()"/ value="Objects"/>
      <input type="button" onclick="selectOccupations()"/ value="Occupations"/>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
      <input type="button" onclick="selectOrganizations()"/ value="Organizations"/>
      <input type="button" onclick="selectPhenomena()"/ value="Phenomena"/>
      <input type="button" onclick="selectPhysiology()"/ value="Physiology"/>
      <input type="button" onclick="selectProcedures()"/ value="Procedures"/></td>
    </tr>
    <tr><td></td>
      <td><input type="button" onclick="clearSemanticTypes()" value="Clear all semantic types"/></td>
    </tr>
    </tr>
  </table>
  <input type="submit" value="submit" />
</form>
