<form action="{{ action }}" method="post">
  <textarea name="inputtext" rows="40" cols="150"></textarea>
  <table>
    <tr>
      <td><label for="inputformat">input format</label></td>
      <td><input name="inputformat" type="text" id="inputformat"/></td>
    </tr>
    <tr>
      <td><label for="rformat">result format</label></td>
      <td><input name="resultformat" type="text" id="rformat"/></td>
    </tr>
    <tr>
      <td><label for="srcstring">sources</label></td>
      <td><input name="sourcesString" type="text" id="srcstring"/></td>
    </tr>
    <tr>
      <td><label for="ststring">semantic types</label></td>
      <td><input name="semanticTypeString" type="text" id="ststring"/></td>
    </tr>
  </table>
  <input type="submit" value="submit" />
</form>
